<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atmk.iot.bz_login">

    <application
        android:name="com.atmk.iot.bz_login.LoginApplication"
        android:label="登录模块"
        android:icon="@mipmap/base_ic_launcher"
        android:supportsRtl="false"
        android:allowBackup="false"
        android:theme="@style/base_AppTheme"
        tools:replace="android:allowBackup,android:label,android:supportsRtl,android:theme,android:icon">
        <!-- 登录页 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden">
            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主页-->
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/base_AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>