<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atmk.iot">

    <application android:name="com.atmk.base.app.AppApplication"
        android:label="${app_name}"
        android:supportsRtl="false"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label,android:supportsRtl" >


    </application>

</manifest>